  <% if(page !== 'contact') { %>
  <div class="l-main__contact">
    <h2 class="c-sectionTitle">
      <strong class="c-sectionTitle__main">CONTACT</strong>
      <span class="c-sectionTitle__caption">お問合せ</span>
    </h2>
    <p>Webサイトの制作のご依頼やお見積りなど、<br class="u-sp-only">お気軽にご相談ください。</p>
    <div class="c-btn">
      <a href="<%= githubPath %>contact" class="c-btn__link">
        <span class="c-btn__txt">MORE</span>
      </a>
    </div>
  </div>
  <% } %>
</main>
<footer class="p-footer">
  <div class="p-footer__logo">PON DESIGN</div>
  <nav>
    <ul class="p-footer__list">
      <li class="p-footer__link"><a href="<%= githubPath %>news" <%= page === 'news' ? 'aria-current=page' : '' %>>NEWS</a></li>
      <li class="p-footer__link"><a href="<%= githubPath %>service" <%= page === 'service' ? 'aria-current=page' : '' %>>SERVICE</a></li>
      <li class="p-footer__link"><a href="<%= githubPath %>works" <%= page === 'works' ? 'aria-current=page' : '' %>>WORKS</a></li>
      <li class="p-footer__link"><a href="<%= githubPath %>company" <%= page === 'company' ? 'aria-current=page' : '' %>>COMPANY</a></li>
      <li class="p-footer__link"><a href="<%= githubPath %>recruit" <%= page === 'recruit' ? 'aria-current=page' : '' %>>RECRUIT</a></li>
      <li class="p-footer__link"><a href="<%= githubPath %>contact" <%= page === 'contact' ? 'aria-current=page' : '' %>>CONTACT</a></li>
    </ul>
  </nav>
  <p class="p-footer__copylight">
    <small>© PON DESIGN</small>
  </p>
</footer>
</div>
</body>
</html>