<header class="p-header--home">
  <div class="p-header__top">
    <div class="p-header__logo">
      <a href="/" tabindex="1">PON DESIGN</a>
    </div>
    <nav>
      <ul class="p-header__nav">
        <li class="p-header__link"><a href="/news" <%= page === 'news' ? 'aria-current=page' : '' %>>NEWS</a></li>
        <li class="p-header__link"><a href="/service" <%= page === 'recruit' ? 'aria-current=page' : '' %>>SERVICE</a></li>
        <li class="p-header__link"><a href="/works" <%= page === 'works' ? 'aria-current=page' : '' %>>WORKS</a></li>
        <li class="p-header__link"><a href="/company" <%= page === 'company' ? 'aria-current=page' : '' %>>COMPANY</a></li>
        <li class="p-header__link"><a href="/recruit" <%= page === 'recruit' ? 'aria-current=page' : '' %>>RECRUIT</a></li>
        <li class="p-header__link"><a href="/contact" <%= page === 'contact' ? 'aria-current=page' : '' %>>CONTACT</a></li>
      </ul>
    </nav>
  </div>
  <div class="p-header__title<%= page === 'home' ? '--home' : '' %>">
    <h1 class="p-header__mainTitle<%= page === 'home' ? '--home' : '' %>">
      <strong>WEB</strong>
      <strong>DESIGN</strong>
      <strong>SPECIALIST</strong>
    </h1>
    <p class="p-header__caption<%= page === 'home' ? '--home' : '' %>">お客様の夢を叶える<wbr>Webサイトを制作</p>
    <div class="p-header__linkBtn">
      <div class="c-btn">
        <a href="/contact">
          <span class="c-btn__txt">CONTACT</span>
          <i class="fas fa-angle-right"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="p-header__scrollNav">
    <span>SCROLL</span>
  </div>
</header>
<button class="p-hamburgerMenu js-menuTrigger" tabindex="2">
  <div class="c-hamburgerMenu">
    <span class="c-hamburgerMenu__text">メニュー</span>
  </div>
  <span class="p-hamburgerMenu__txt">MENU</span>
  <span class="p-hamburgerMenu__txt--open">OPEN</span>
  <span class="p-hamburgerMenu__txt--close">CLOSE</span>
</button>
<nav class="p-globalMenu">
  <ul class="p-globalMenu__list">
    <li class="p-globalMenu__link"><a href="/news" <%= page === 'news' ? 'aria-current=page' : '' %>>NEWS</a></li>
    <li class="p-globalMenu__link"><a href="/service" <%= page === 'recruit' ? 'aria-current=page' : '' %>>SERVICE</a></li>
    <li class="p-globalMenu__link"><a href="/works" <%= page === 'works' ? 'aria-current=page' : '' %>>WORKS</a></li>
    <li class="p-globalMenu__link"><a href="/company" <%= page === 'company' ? 'aria-current=page' : '' %>>COMPANY</a></li>
    <li class="p-globalMenu__link"><a href="/recruit" <%= page === 'recruit' ? 'aria-current=page' : '' %>>RECRUIT</a></li>
    <li class="p-globalMenu__link"><a href="/contact" <%= page === 'contact' ? 'aria-current=page' : '' %>>CONTACT</a></li>
  </ul>
</nav>