<header class="p-header">
  <div class="p-header__top">
    <div class="p-header__logo">
      <a href="/" tabindex="1">PON DESIGN</a>
    </div>
    <nav>
      <ul class="p-header__nav">
        <li class="p-header__link"><a href="/news" <%= page === 'news' ? 'aria-current=page' : '' %>>NEWS</a></li>
        <li class="p-header__link"><a href="/service" <%= page === 'service' ? 'aria-current=page' : '' %>>SERVICE</a></li>
        <li class="p-header__link"><a href="/works" <%= page === 'works' ? 'aria-current=page' : '' %>>WORKS</a></li>
        <li class="p-header__link"><a href="/company" <%= page === 'company' ? 'aria-current=page' : '' %>>COMPANY</a></li>
        <li class="p-header__link"><a href="/recruit" <%= page === 'recruit' ? 'aria-current=page' : '' %>>RECRUIT</a></li>
        <li class="p-header__link"><a href="/contact" <%= page === 'contact' ? 'aria-current=page' : '' %>>CONTACT</a></li>
      </ul>
    </nav>
  </div>
  <div class="p-header__title">
    <h1 class="p-header__mainTitle">
      <strong><%= header.title %></strong>
    </h1>
    <p class="p-header__caption"><%= header.caption %></p>
  </div>
</header>
<button class="p-hamburgerMenu js-menuTrigger" tabindex="2">
  <div class="c-hamburgerMenu">
    <span class="c-hamburgerMenu__text">メニュー</span>
  </div>
  <span class="p-hamburgerMenu__txt">MENU</span>
  <span class="p-hamburgerMenu__txt--open">OPEN</span>
  <span class="p-hamburgerMenu__txt--close">CLOSE</span>
</button>
<nav class="p-globalMenu">
  <ul class="p-globalMenu__list">
    <li class="p-globalMenu__link"><a href="/news" <%= page === 'news' ? 'aria-current=page' : '' %>>NEWS</a></li>
    <li class="p-globalMenu__link"><a href="/service" <%= page === 'recruit' ? 'aria-current=page' : '' %>>SERVICE</a></li>
    <li class="p-globalMenu__link"><a href="/works" <%= page === 'works' ? 'aria-current=page' : '' %>>WORKS</a></li>
    <li class="p-globalMenu__link"><a href="/company" <%= page === 'company' ? 'aria-current=page' : '' %>>COMPANY</a></li>
    <li class="p-globalMenu__link"><a href="/recruit" <%= page === 'recruit' ? 'aria-current=page' : '' %>>RECRUIT</a></li>
    <li class="p-globalMenu__link"><a href="/contact" <%= page === 'contact' ? 'aria-current=page' : '' %>>CONTACT</a></li>
  </ul>
</nav>