<% const title = "NEWS"; const description = "newsページのdescription"; %>
<% const page = 'news' %>
<%
  const header = {
    title: 'NEWS',
    caption: 'お知らせ'
  }
%>
<% include ../template/_arrayNews %>
<% const path = '/assets/images/'; %>

<% include ../template/_head %>
<!-- .l-header -->
<% include ../template/_header %>
<main class="l-main">
  <div class="l-main__heading">
    <ol class="l-main__breadcrumb">
      <li><a href="/">HOME</a></li>
      <li><%= title %></li>
    </ol>
  </div>
  <section class="p-news">
    <ul class="p-news__list">
      <% for(let i = 10; i < 20; i++){ %>
      <% if(!arrayNews[i]) break; %>
        <li>
          <a href="news/<%= arrayNews[i].href %>" class="p-news__link">
            <p class="p-news__data">
              <time datetime="<%= arrayNews[i].dateTime %>"><%= arrayNews[i].date %></time>
              <span class="p-news__type"><%= arrayNews[i].type %></span>
            </p>
            <p class="p-news__title"><%= arrayNews[i].title %></p>
          </a>
        </li>
      <% } %>
    </ul>
    <ol class="p-news__nav">
      <li class="p-news__pagenation">
        <a href="/news" class="p-news__otherPageLink">1</a>
      </li>
      <li class="p-news__pagenation--current">
        <span class="p-news__otherPageLink"><b>2</b></span>
      </li>
      <% if(arrayNews.length > 20 ) { %>
      <li class="p-news__pagenation">
        <a href="/news/page-03.html" class="p-news__otherPageLink">3</a>
      </li>
      <% } %>
    </ol>
  </section>
<% include ../template/_footer %>
