<% const title = "TOP"; const description = "トップのdescription"; %>
<% const page = 'home' %>
<% const path = '/assets/images/'; %>
<% include ./template/_arrayNews %>

<% include ./template/_head %>
<!-- .l-header -->
<% include ./template/_header_home %>
<!-- .l-main -->
<main>
  <div class="p-home">
    <section class="p-home__news">
      <h2 class="c-sectionTitle">
        <strong class="c-sectionTitle__main">NEWS</strong>
        <span class="c-sectionTitle__caption">お知らせ</span>
      </h2>
      <ul class="p-home__newsList">
        <% arrayNews.forEach(el => { %>
          <li>
            <a href="/news/<%= el.href %>" class="p-home__newsLink">
              <p class="p-home__newsData">
                <time datetime="<%= el.dateTime %>"><%= el.date %></time>
                <span class="p-home__newsType"><%= el.type %></span>
              </p>
              <p class="p-home__newsTitle"><%= el.title %></p>
            </a>
          </li>
        <% }) %>
      </ul>
    </section>
    <section class="p-home__service">
      <h2 class="c-sectionTitle">
        <strong class="c-sectionTitle__main">SERVICE</strong>
        <span class="c-sectionTitle__caption">事業内容</span>
      </h2>
      <ul class="p-home__serviceList">
        <li>
          <div>
            <img src="<%= path %>jessy-smith.jpg" alt="" width="670" height="422">
          </div>
          <h3 class="p-home__serviceTitle">Webサイト制作</h3>
          <p>新規サイトはもちろん、サイトリニューアルやランディングページ制作も行っております。</p>
        </li>
        <li>
          <div>
            <img src="<%= path %>luke-chesser.jpg" alt="" width="670" height="422">
          </div>
          <h3 class="p-home__serviceTitle">Webサイト制作</h3>
          <p>新規サイトはもちろん、サイトリニューアルやランディングページ制作も行っております。</p>
        </li>
        <li>
          <div>
            <img src="<%= path %>pexels-cottonbro.jpg" alt="" width="670" height="422">
          </div>
          <h3 class="p-home__serviceTitle">Webサイト制作</h3>
          <p>新規サイトはもちろん、サイトリニューアルやランディングページ制作も行っております。</p>
        </li>
      </ul>
      <div class="c-btn">
        <a href="/service" class="c-btn__link">
          <span class="c-btn__txt">MORE</span>
        </a>
      </div>
    </section>
    <section class="p-home__works">
      <div class="p-home__worksHero swiper-container">
        <ul class="p-home__worksList swiper-wrapper">
          <li class="p-home__worksPhoto swiper-slide">
            <img src="<%= path %>smoothiesta@2x-min.jpg" alt="" width="1500" height="1020">
          </li>
          <li class="p-home__worksPhoto swiper-slide">
            <img src="<%= path %>web-conference01-min.jpeg" alt="" width="750" height="510">
          </li>
          <li class="p-home__worksPhoto swiper-slide">
            <img src="<%= path %>lamina01-min.jpeg" alt="" width="750" height="510">
          </li>
        </ul>
        <button class="p-home__swiperBtn--prev"><span class="p-home__swiperArrow"></span></button>
        <button class="p-home__swiperBtn--next"><span class="p-home__swiperArrow"></span></button>
        <div class="swiper-pagination p-home__swiperPagination"></div>
        <span class="p-home__swiperAutoBtn is-play" aria-label="Start automatic slide show">
          <button class="p-home__swiperAutoBtn--pause">
            <span>再生</span>
          </button>
          <button class="p-home__swiperAutoBtn--play">
            <span>停止</span>
          </button>
        </span>
      </div>
      <div class="p-home__worksTextArea">
        <h2 class="c-sectionTitle">
          <strong class="c-sectionTitle__main">WORKS</strong>
          <span class="c-sectionTitle__caption">制作実績</span>
        </h2>
        <p>
          様々なジャンルのWebサイト制作が可能です。<br>
          ご購入やお申込み数の増加などを実現します！
        </p>
        <div class="c-btn">
          <a href="/works" class="c-btn__link">
            <span class="c-btn__txt">MORE</span>
          </a>
        </div>
      </div>
    </section>
    <section class="p-home__company">
      <h2 class="c-sectionTitle">
        <strong class="c-sectionTitle__main">COMPANY</strong>
        <span class="c-sectionTitle__caption">私たちについて</span>
      </h2>
      <p class="p-home__companyTitle">
        サイトのゴール =<wbr>
        夢を叶えること
      </p>
      <p>
        お客様の夢を叶えること。<br>
        それがWebサイトのゴールであり、<br class="u-sp-only">私たちが目指すことです。<br>
        だからこそちゃんと成果を出すサイトを<br class="u-sp-only">全力でお作りします。<br>
        お客様の笑顔を見たい。<br>
        夢を実現する手助けをさせてください。
      </p>
      <div class="c-btn">
        <a href="/company" class="c-btn__link">
          <span class="c-btn__txt">MORE</span>
        </a>
      </div>
    </section>
    <section class="p-home__recruit">
      <div class="p-home__recruitHero">
        <picture>
          <source media="(max-width: 850px)" srcset="<%= path %>you-x-sp.jpg">
          <img src="<%= path %>you-x.jpg" alt="" width="750" height="280">
        </picture>
      </div>
      <div class="p-home__recruitTextArea">
        <h2 class="c-sectionTitle">
          <strong class="c-sectionTitle__main">RECRUIT</strong>
          <span class="c-sectionTitle__caption">採用情報</span>
        </h2>
        <p>私たちと一緒に働きませんか？</p>
        <div class="c-btn">
          <a href="/recruit" class="c-btn__link">
            <span class="c-btn__txt">MORE</span>
          </a>
        </div>
      </div>
    </section>
  </div>
<!-- l-footer -->
<% include ./template/_footer %>